services:
  frontend:
    build: .
    container_name: tgsoft-frontend-prod
    ports:
      - "3001:3001"  
    env_file:
      - .env.prod
    environment:
      - NODE_ENV=production
      - PORT=3001  
    restart: unless-stopped
